<!DOCTYPE html>
<html>
<!DOCTYPE html>
<head>
	<title>Kirana Store</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/mainLayout.css') }}">
</head>
<body class="skin-blue">
<div class="">
  <div class="container">
    <nav class="navbar navbar-expand bg-info navbar-dark fixed-top">
            <div class="container-fluid">
                <div class="nav-brand" style="align-items: center;justify-content: center;display: flex;">
                    <img src="/static/css/images/kiranastore.jpg" width="40" height="40" class="d-inline-block align-top rounded" alt="">
                    <a class="text-white">&nbsp;&nbsp;Apni Dukan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-danger nav-link active" href="{{ url_for('BillingPage') }}">Generate New Bill</a>
                    </li>
                </ul>
            </div>
        </nav>
  </div>

</div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">X</button>
        {{ message }}
    </div>
    {% endfor %}
    <br><br><br>
    {% block content %}
    {% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/dashboard2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/adminlte.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/gvsScript.js') }}"></script>

</body>
</html>

